<table class="table table-sm table-bordered" id="table-dictionary">
    <thead>

    <tr class="text-white small text-uppercase">
        <td class="bg-primary text-center">NUMERO DE COMPROBANTE</td>
        <td class="bg-primary text-center">PROVEEDOR</td>
        <td class="bg-primary text-center">FECHA DE COMPRA</td>
        <td class="bg-primary text-center">ESTADO</td>
        <td class="bg-primary text-center">EMPLEADO</td>
        <td class="bg-info text-center">PLACA</td>
        <td class="bg-info text-center">PRODUCTO</td>
        <td class="bg-info text-center">UNIDAD</td>
        <td class="bg-info text-center">CANTIDAD</td>
        <td class="bg-info text-center">PRECIO UNITARIO</td>
        <td class="bg-info text-center">TOTAL</td>
        <td class="bg-success text-center">TOTAL PAGADO</td>
        <td class="bg-success text-center">FECHA DE PAGO</td>
        <td class="bg-success text-center">NRO OPERACIÓN</td>
        <td class="bg-success text-center">PAGAR</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for p in dictionary %}
            <tr pk="{{ p.id }}" class="text-center purchase">
                <td class="align-middle text-center" rowspan="{{ p.rowspan }}">{{ p.bill_number }}</td>
                <td class="align-middle text-center" rowspan="{{ p.rowspan }}">{{ p.supplier.name }}</td>
                <td class="align-middle text-center" rowspan="{{ p.rowspan }}">{{ p.purchase_date|date:"d-m-y" }}</td>
                <td class="align-middle text-center" class=" text-success" rowspan="{{ p.rowspan }}">{{ p.status }}</td>
                <td class="align-middle text-center"
                    rowspan="{{ p.rowspan }}">{{ p.user.worker_set.last.employee.names }}</td>

                {% for d in p.purchase_detail_set %}
                    {% if forloop.first %}
                        <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ p.truck.license_plate|default:'-' }}</td>
                        <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.product }}</td>
                        <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.unit }}</td>
                        <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.quantity }}</td>
                        <td class="align-middle text-center"
                            rowspan="{{ d.rowspan }}">{{ d.price_unit|floatformat:2 }}</td>
                        <td class="align-middle text-center" rowspan="{{ p.rowspan }}">{{ p.total|floatformat:2 }}</td>
                        {% for lp in p.loan_payment_set %}
                            <td class="align-middle text-center pay-row"
                                rowspan="{{ p.rowspan }}">{{ lp.price|floatformat:2 }}</td>
                            <td class="align-middle text-center pay-row-date"
                                rowspan="{{ p.rowspan }}">{{ lp.date|date:"d-m-y" }}</td>
                            <td class="align-middle text-center pay-row-operation"
                                rowspan="{{ p.rowspan }}">{{ lp.operation_code }}</td>
                        {% endfor %}
                        <td class="align-middle text-center button-pay" class="p-1" rowspan="{{ p.rowspan }}">
                            <button type="button"
                                    class="btn btn-success btn-show-payments"
                                    data-toggle="modal"
                                    data-target="#modal-payment-purchase"
                                    pk="{{ p.id }}"><i
                                    class="fas fa-dollar-sign"></i> Pagar
                            </button>
                        </td>
                        </tr>

                    {% else %}
                        <tr class="text-center purchase">
                            <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.product }}</td>
                            <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.unit }}</td>
                            <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.quantity }}</td>
                            <td class="align-middle text-center"
                                rowspan="{{ d.rowspan }}">{{ d.price_unit|floatformat:2 }}</td>
                            {#                            <td class="align-middle text-center" rowspan="{{ p.rowspan }}">{{ p.total|floatformat:2 }}</td>#}
                        </tr>
                    {% endif %}
                {% endfor %}
        {% endfor %}
    </tbody>
    <tfoot>
    <tr class="text-center bg-primary text-white">
        <td class="align-middle text-center" colspan="9"></td>
        <td class="align-middle text-center" colspan="">SUM TOTAL: {{ sum_total|floatformat:2 }}</td>
        <td class="align-middle text-center" colspan="">SUM TOTAL PAGADO: {{ sum_total_loan_pay|floatformat:2 }}</td>
        <td class="align-middle text-center" colspan="">DIFERENCIA: {{ sum_total_difference|floatformat:2 }}</td>
    </tr>
    </tfoot>
</table>
<script type="text/javascript">

    $(document).on('click', '.btn-show-payments', function () {
        let _purchase_id = $(this).attr('pk');

        {#$('#lending').empty();#}
        $.ajax({
            url: '/accounting/get_purchases_pay/',
            async: true,
            dataType: 'json',
            type: 'GET',
            data: {'purchase_id': _purchase_id, 'start-date': $('#id_date_initial').val(), 'end-date': $('#id_date_final').val(),},
            success: function (response) {
                $('#pay-purchase').html(response.grid);
            },
            fail: function (response) {
                console.log("error");
            }
        });
    });

    $('#table-dictionary tr.purchase td.pay-row').each(function () {

        let row_pay = $(this).text();
        if (row_pay !== '') {
            $(this).parent('tr').find('td.button-pay button').hide();
            {#$(this).parent('tr').find('td.button-pay').css({'background-color': '#beec96'});#}
            $(this).parent('tr').find('td.pay-row').css({'background-color': '#28a745'});
            {#$(this).parent('tr').css({'background-color': '#aaa'});#}
        }
    });

</script>
