{% extends 'home.html' %}
{% block title %}
    coronasoft.dev | Compras
{% endblock title %}

{% block body %}
    <div class="row">
        <div class="card col-sm-12">
            <div class="card-body" id="render-form">
                {% include "buys/purchase_create.html" %}
            </div>
        </div>
    </div>
    <div class="row mt-4 ml-4">
        <div class="card col-sm-10">
            <div class="card-body ">
                <div class="table-responsive" id="render-table">
                    {% include "buys/purchase_detail_list.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}


{% block extrajs %}
    <script type="text/javascript">
        {#document.ready = document.getElementById("opciones").value = '0';#}
        $('#id_proveedor').select2({
            theme: 'bootstrap4',
        });
        $('#id_producto').select2({
            theme: 'bootstrap4',
        });
        $('#id-truck').select2({
            theme: 'bootstrap4',
        });
        $("#btn-new").click(function () {
            limper_form();
        });

        function limper_form(request) {
            $('#id_fechacompra').val('');
            $("#id_factura").val('');
            $('#id_proveedor option').removeAttr('selected');
            $('#id_proveedor option:first').attr('selected', 'selected');
            $('#id_proveedor').trigger('change');
            $('#id-truck option').removeAttr('selected');
            $('#id-truck option:first').attr('selected', 'selected');
            $('#id-truck').trigger('change');
        };

        function limper(request) {
            $('#id_cantidad').val('');
            $('#id_preciounitario').val('');
            $('#id_producto option').removeAttr('selected');
            $('#id_producto option:first').attr('selected', 'selected');
            $('#id_producto').trigger('change');
            $("#id_unidad").empty().append('<option>Seleccione</option>');

            {#$('#id_producto option[value=0]').attr('selected','selected');#}
            {#$('#id_unidad option[value=0]').attr('selected','selected');#}
        };
        $("#id_add").click(function () {

            let id_product = $('#id_producto').val();
            let name_product = $('#id_producto option:selected').text();
            let quantity = parseFloat($('#id_cantidad').val());
            let id_unit = $('#id_unidad').val();
            let name_unit = $('#id_unidad option:selected').text();
            let price_unit = parseFloat($('#id_preciounitario').val());
            if (id_product > 0 && quantity > 0 && id_unit > 0 && price_unit > 0) {
                if ($("#id_detail_data_grid tr[product=" + id_product + "]").length) {
                    toastr.warning('PRODUCTO YA SELECCIONADO, SELECCIONE OTRO.!');
                    return false;
                }
                $('#id_detail_data_grid').append(
                    '<tr product="' + id_product + '">' +
                    '<td class="item-numero">' + '</td>' +
                    '<td class="text-center">' + '</td>' +
                    '<td>' + name_product + '</td>' +
                    '<td class="item-quantity  text-right">' + quantity.toFixed(2) + '</td>' +
                    '<td class="item-unit text-center" pu="' + id_unit + '">' + name_unit + '</td>' +
                    '<td class="item-price text-right">' + price_unit.toFixed(4) + '</td>' +
                    '<td class="text-right">' + (quantity * price_unit).toFixed(4) + '</td>' +
                    {#'<td class="text-center">' + '<button type="button" onclick="deleteItem(' + id_product + ')" class="btn btn-sm delete-detail"><i class="fa fa-trash"></i></button>' + '</td>' +#}
                    '<td class="align-middle text-center"> ' + '<button type="button" onclick="deleteItem(' + id_product + ')" class="btn btn-success delete-detail"><i class="fa fa-trash"></i></button>' + '</td>' +
                    '</tr>'
                );
                //$index++;
                limper()
                counterStrike()
                toastr.info('PRODUCTO AGREGADO', '¡MENSAJE!');


            } else {
                {#toastr.succes('info messages');#}
                toastr.warning('POR FAVOR, COMPLETE TODO LOS CAMPOS!');
            }

        });

        $('#purchase-form').submit(function (event) {
            event.preventDefault();
            if ($("#id_detail_data_grid tbody tr").length > 0) {
                let Detail_purchase = {
                    "Details": [],
                    "Invoice": $('#id_factura').val(),
                    "ProviderId": $('#id_proveedor').val(),
                    "Date": $('#id_fechacompra').val(),
                    "truck": $('#id-truck').val(),
                    "Type_bill": $('#id_type_bill').val()
                };
                // Recorre cada detalle de producto (son 2 arrays) each -> recorre

                $("#id_detail_data_grid tbody tr").each(function () {
                    var detailObj = {
                        "Product": $(this).attr('product'),
                        "Quantity": $(this).find("td.item-quantity").text(),
                        "Unit": $(this).find("td.item-unit").attr('pu'),
                        "Price": $(this).find("td.item-price").text(),
                    };
                    Detail_purchase.Details.push(detailObj);

                });

                {#console.log(JSON.stringify(Detail_purchase));#}
                {#alert('llego la hora de guardar.');#}

                $.ajax({

                    url: '/buys/save_purchase/',
                    async: true,
                    dataType: 'json', // for response
                    type: 'GET',
                    data: {'purchase': JSON.stringify(Detail_purchase)},
                    contentType: 'application/json;charset=UTF-8',
                    headers: {"X-CSRFToken": '{{ csrf_token }}'},
                    success: function (response, textStatus, xhr) {
                        if (xhr.status === 200) {
                            toastr.success(response.message, '¡COMPRA REGISTRADA CORRECTAMENTE!');
                            setTimeout(() => {
                                location.reload();
                            }, 800);
                        }
                    },
                    error: function (jqXhr, textStatus, xhr) {
                        toastr.error("ERROR. ", '¡INCONCEBIBLE!');
                    }
                });

            }
            else
            {
                toastr.warning("PARA REALIZAR LA COMPRA NECESITA AGREGAR PRODUCTOS. ", '¡ADVERTENCIA!');
            }
        });

        $('#id_producto').change(function () {
            //recupera el id_dela opcion seleccionada
            let _search = $(this).val();
            //vacia el combo-borra opciones
            $('#id_unidad').empty();

            $.ajax({
                url: '/buys/get_units_by_product/',
                async: true,
                dataType: 'json',
                type: 'GET',
                //mando  id del producto del combo
                data: {'ip': _search},
                // si va bien retorna la data
                success: function (response) {
                    //le da formato array
                    let units = JSON.parse(response['units']);
                    units.forEach(
                        element =>
                            $('#id_unidad').append(
                                '<option value="' + element['pk'] + '">' + element['fields']['name'] + '</option>')
                    )
                },

            });

        });

        //Bonton eliminar fila
        function deleteItem($id) {
            $('#details').find("tr[product=" + $id + "]").remove();
            counterStrike();
        }

        // reasigna numero de fila a los detalles
        function counterStrike() {
            let l = 1;
            $('#details tr').each(function () {
                $(this).attr('i', l);
                $(this).children('td:nth-child(2)').text(l);
                l++;
            });

        }


    </script>
{% endblock extrajs %}