{% load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header bg-light">
            <h6 class="modal-title roboto-condensed-regular font-weight-bold">REGISTRAR NUEVO CLIENTE</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <input type="hidden" class="form-control" id="client_id" name="client-id">

        <div class="modal-body p-2 roboto-condensed-regular">

            <div class="mr-3 ml-0" style="
                        display: none;
                        position: absolute;
                        top: 8px;
                        left: 0;
                        background: var(--white);
                        opacity: 0.5;
                        width: 100%;
                        !important: ;
                        bottom: 6px;
                        padding: 10em 23em 20em 26em;
                        z-index: 2000;
                        right: 0;" id="container-loading">

                <div class="spinner-border border-0" role="status" style="width: auto; height: auto">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="loader-inner"></div>
                                    <div class="loader-inner"></div>
                                    <div class="loader-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="fas fa-3x fa-sync fa-spin"></i>
                </div>

            </div>
            <div class="card">
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="document_type">Documento:</label>
                                    <select class="form-control" id="document_type" name="document_type">
                                        <option value="00">Seleccionar</option>
                                        <option value="01">DNI</option>
                                        <option value="06">RUC</option>
{#                                        {% for type in document_types %}#}
{#                                            <option value="{{ type.id }}">{{ type.short_description }}</option>#}
{#                                        {% endfor %}#}
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="document_number">Numero de Documento:</label>
{#                                    <div class="input-group">#}
                                        <input type="text" class="form-control" id="document_number"
                                               name="document_number" autocomplete="off"
                                               placeholder="">
{#                                        <div class="input-group-append">#}
{#                                            <button class="btn btn-warning btn-sm" id="btn-nro-client" type="button">#}
{#                                                <i class="fas fa-search fa-sm"></i>#}
{#                                            </button>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                            </div>
                            <div class="row dni">
                                <div class="col-lg-12">
                                    <label class="mb-1 mt-1 font-weight-light" for="names">Nombres / Razon
                                        Social:</label>
                                    <input type="text" class="form-control" id="names" autocomplete="off"
                                           name="names">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="mb-1 mt-2 font-weight-light" for="phone">Telefono:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control"
                                               id="phone" name="phone">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="email" class="mb-1 mt-2 font-weight-light">Correo:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </div>
                                        <input type="email" class="form-control"
                                               placeholder="" id="email" name="email">
                                    </div>
                                </div>
                            </div>
{#                            <div class="row">#}
{#                                <div class="col-sm-6 col-md-6 col-lg-6">#}
{#                                    <label class="mb-1 mt-1 font-weight-light"#}
{#                                           for="id_type_client">Tipo de cliente:</label>#}
{#                                    <select class="form-control" id="id_type_client" name="type_client">#}
{#                                        <option value="0">Seleccionar</option>#}
{#                                        {% for t in type_client %}#}
{#                                            <option value="{{ t.0 }}">{{ t.1 }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="col-sm-6 col-md-6 col-lg-6 siaf d-none">#}
{#                                    <label class="mb-1 mt-1 font-weight-light"#}
{#                                           for="cod_siaf">CODIGO DE UNIDAD EJECUTORA (SIAF):</label>#}
{#                                    <input type="text" class="form-control" id="cod_siaf" name="siaf">#}
{#                                </div>#}
{#                                            <div class="col-sm-6 col-md-6 col-lg-6">#}
{#                                                <label class="mb-1 mt-1 font-weight-light"#}
{#                                                       for="id_district">Seleccione distrito</label>#}
{#                                                <select id="id_district" name="id_district" class="form-control">#}
{#                                                    <option value="0">Seleccionar</option>#}
{#                                                    {% for district in districts %}#}
{#                                                        <option value="{{ district.id }}">{{ district.description }}</option>#}
{#                                                    {% endfor %}#}
{#                                                </select>#}
{#                                            </div>#}
{#                            </div>#}

{#                            <div class="row public d-none">#}
{#                                <div class="col-sm-9 col-md-9 col-lg-9 pr-0">#}
{#                                    <label class="mb-1 mt-2 font-weight-light" for="address">Dirección de#}
{#                                        Cliente:</label>#}
{#                                    <div class="input-group">#}
{#                                        <div class="input-group-prepend">#}
{#                                            <span class="input-group-text"><i class="fas fa-address-card"></i></span>#}
{#                                        </div>#}
{#                                        <input type="text" class="form-control" id="address" autocomplete="off"#}
{#                                               name="address" placeholder="Dirección">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-sm-3 col-md-3 col-lg-3 pl-1">#}
{#                                    <label class="mb-1 mt-2 font-weight-light"#}
{#                                           for="id_district">Seleccione distrito:</label>#}
{#                                    <select id="id_district" name="id_district" class="form-control">#}
{#                                        <option value="0">Seleccionar</option>#}
{#                                        <option value="1720">JULIACA</option>#}
{#                                        <option value="1702">PUNO</option>#}
{#                                        <option value="338">AREQUIPA</option>#}
{#                                        <option value="1829">TACNA</option>#}
{#                                        <option value="752">CUSCO</option>#}
{#                                        {% for district in districts %}#}
{#                                            <option value="{{ district.id }}">{{ district.description }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="row private main">
                                <div class="col-sm-8 col-md-8 col-lg-8 pr-0">
                                    <label class="mb-1 mt-2 font-weight-light" for="new_address">Dirección del
                                        Cliente:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                        </div>
                                        <input type="text" class="form-control new-address" id="new_address"
                                               autocomplete="off"
                                               name="address">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 pl-1 pr-1">
                                    <label class="mb-1 mt-2 font-weight-light"
                                           for="id_district">Seleccione distrito:</label>
                                    <select id="id_district" name="id_district" class="form-control district">
                                        <option value="0">Seleccionar</option>
                                        {% for district in districts %}
                                            <option value="{{ district.id }}">{{ district.description }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1 pl-0">
                                    <label class="mb-1 mt-2 font-weight-light"
                                           for="id-add-new-addressee">&nbsp;</label>
                                    <button type="button" class="btn btn-outline-success btn-block"
                                            id="id-add-new-addressee">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer bg-light p-2">
            <button type="button" class="btn btn-secondary font-weight-light" data-dismiss="modal">Cerrar</button>
            &nbsp;
            <button id="btn-save-client" type="button" class="btn btn-primary font-weight-light">Registrar
            </button>
        </div>

        <div class="mr-3 ml-0" style="
                display: none;
                position: fixed;
                top: 8px;
                left: 5px;
                background: #bdd9f5;
                opacity: 0.5;
                width: 100%;
                height: 46em;
                !important;bottom: 6px;
                padding-right: 65em;
                padding-left: 55em;
                padding-top: 22em;" id="loading">

        </div>

    </div>
</div>




{#<div class="modal-dialog modal-xl" role="document">#}
{#    <div class="modal-content">#}
{#        <div class="modal-header bg-light">#}
{#            <h6 class="modal-title roboto-condensed-regular">REGISTRAR NUEVO LIBRO</h6>#}
{#            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                <span aria-hidden="true">&times;</span>#}
{#            </button>#}
{#        </div>#}
{#        <input type="hidden" class="form-control" id="client_id" name="client-id">#}
{##}
{#        <div class="modal-body p-2">#}
{##}
{#            <div class="mr-3 ml-0" style="#}
{#                        display: none;#}
{#                        position: absolute;#}
{#                        top: 8px;#}
{#                        left: 0;#}
{#                        background: var(--white);#}
{#                        opacity: 0.5;#}
{#                        width: 100%;#}
{#                        !important: ;#}
{#                        bottom: 6px;#}
{#                        padding: 10em 23em 20em 26em;#}
{#                        z-index: 2000;#}
{#                        right: 0;" id="container-loading">#}
{##}
{#                <div class="spinner-border border-0" role="status" style="width: auto; height: auto">#}
{#                    <div class="container">#}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="col-md-12">#}
{#                                    <div class="loader-inner"></div>#}
{#                                    <div class="loader-inner"></div>#}
{#                                    <div class="loader-inner"></div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <i class="fas fa-3x fa-sync fa-spin"></i>#}
{#                </div>#}
{##}
{#            </div>#}
{#            <div class="card roboto-condensed-regular">#}
{#                <div class="card-body bg-light">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-12">#}
{#                            <div class="row">#}
{#                                <div class="col-lg-8">#}
{#                                    <label class="mb-1 mt-1 font-weight-light"#}
{#                                           for="document_number">Nombre o Sigla de la Entidad :</label>#}
{#                                    <div class="input-group">#}
{#                                        <input type="text" class="form-control" id="document_number"#}
{#                                               name="document_number" autocomplete="off"#}
{#                                               placeholder="EMPRESA DE GENERACION ELECTRICA DE AREQUIPA S.A. - EGASA">#}
{#                                        <div class="input-group-append">#}
{#                                            <button class="btn btn-warning btn-sm" id="btn-nro-client" type="button">#}
{#                                                <i class="fas fa-search fa-sm"></i>#}
{#                                            </button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-4 pl-0">#}
{#                                    <label class="mb-1 mt-1 font-weight-light"#}
{#                                           for="document_type">Tipo de Procedimiento :</label>#}
{#                                    <select class="form-control" id="document_type" name="document_type">#}
{#                                        <option value="01">ADJUDICACION SIMPLIFICADA</option>#}
{#                                    </select>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                            <div class="row dni">#}
{#                                <div class="col-lg-2">#}
{#                                    <label class="mb-1 mt-1 font-weight-light"#}
{#                                           for="document_number">Nomeclatura :</label>#}
{#                                    <div class="input-group">#}
{#                                        <input type="text" class="form-control" id="document_number"#}
{#                                               name="document_number" autocomplete="off"#}
{#                                               placeholder="AS-SM-15-2024-EGASA-1">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-2">#}
{#                                    <label class="mb-1 mt-1 font-weight-light"#}
{#                                           for="document_type">Numero de convocatoria :</label>#}
{#                                    <input type="text" class="form-control" id="document_number"#}
{#                                               name="document_number" autocomplete="off"#}
{#                                               placeholder="1RA">#}
{#                                </div>#}
{#                                <div class="col-lg-1">#}
{#                                    <label class="mb-1 mt-1 font-weight-light"#}
{#                                           for="document_type">Nº Tomos:</label>#}
{#                                    <input type="text" class="form-control" id="document_number"#}
{#                                               name="document_number" autocomplete="off"#}
{#                                               placeholder="1">#}
{#                                </div>#}
{#                                <div class="col-lg-1">#}
{#                                    <label class="mb-1 mt-1 font-weight-light"#}
{#                                           for="document_type">Año :</label>#}
{#                                    <input type="text" class="form-control" id="document_number"#}
{#                                               name="document_number" autocomplete="off"#}
{#                                               placeholder="2024">#}
{#                                </div>#}
{#                                <div class="col-lg-2 pl-0">#}
{#                                    <label class="mb-1 mt-1 font-weight-light"#}
{#                                           for="document_type">Nº de Proc. :</label>#}
{#                                    <input type="text" class="form-control" id="document_number"#}
{#                                               name="document_number" autocomplete="off"#}
{#                                               placeholder="15">#}
{#                                </div>#}
{#                                <div class="col-lg-2 pl-0">#}
{#                                    <label class="mb-1 mt-1 font-weight-light"#}
{#                                           for="document_type">Ubicacion:</label>#}
{#                                    <input type="text" class="form-control" id="document_number"#}
{#                                               name="document_number" autocomplete="off"#}
{#                                               placeholder="A 010102">#}
{#                                </div>#}
{#                                <div class="col-lg-2 pl-0">#}
{#                                    <label class="mb-1 mt-1 font-weight-light"#}
{#                                           for="document_type">Estado :</label>#}
{#                                    <input type="text" class="form-control" id="document_number"#}
{#                                               name="document_number" autocomplete="off"#}
{#                                               placeholder="ARCHIVADO">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="row">#}
{#                                <div class="col-lg-2">#}
{#                                    <label class="mb-1 mt-1 font-weight-light"#}
{#                                           for="document_number">Objeto de Contratación :</label>#}
{#                                    <div class="input-group">#}
{#                                        <input type="text" class="form-control" id="document_number"#}
{#                                               name="document_number" autocomplete="off"#}
{#                                               placeholder="SERVICIO">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-10">#}
{#                                    <label class="mb-1 mt-1 font-weight-light"#}
{#                                           for="document_type">Descripción de Objeto :</label>#}
{#                                    <input type="text" class="form-control" id="document_number"#}
{#                                               name="document_number" autocomplete="off"#}
{#                                               placeholder="SERVICIO DE MONITOREO DE PARÁMETROS HIDROLÓGICOS Y DE LECHO DE RÍO EN LAS PRESAS PILLONES, CHALHUANCA Y BAMPUTAÑE">#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="modal-footer bg-light p-2">#}
{#            <button type="button" class="btn btn-secondary font-weight-light" data-dismiss="modal">Cerrar</button>#}
{#            &nbsp;#}
{#            <button id="btn-save-client" type="button" class="btn btn-primary font-weight-light">Registrar#}
{#            </button>#}
{#        </div>#}
{##}
{#        <div class="mr-3 ml-0" style="#}
{#                display: none;#}
{#                position: fixed;#}
{#                top: 8px;#}
{#                left: 5px;#}
{#                background: #bdd9f5;#}
{#                opacity: 0.5;#}
{#                width: 100%;#}
                {#height: 46em;#}
{#                !important;bottom: 6px;#}
{#                padding-right: 65em;#}
{#                padding-left: 55em;#}
{#                padding-top: 22em;" id="loading">#}
{##}
{#        </div>#}
{##}
{#    </div>#}
{#</div>#}

<script type="text/javascript">


    $('#id_district').select2({
        theme: 'bootstrap4',
    });

</script>

{#<table class="table table-sm table-borderless small font-weight-bolder text-uppercase">#}
{#    <tbody>#}
{#    <tr>#}
{#        <th scope="row" style="width: 40%;">#}
{#            <label for="surnames">Tipo de documento</label>#}
{#        </th>#}
{#        <td>#}
{#            <select id="document_type" name="document_type" class="form-control"#}
{#                    style="font-size: .9375rem;">#}
{#                {% for type in document_types %}#}
{#                    <option value="{{ type.id }}">{{ type.description }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th scope="row">#}
{#            <label for="document_number">Nº de Documento</label>#}
{#        </th>#}
{#        <td>#}
{#            <input type="text" class="form-control" id="document_number" name="document_number"#}
{#                   autocomplete="off">#}
{#            <input type="hidden" id="operation" name="operation" value="N">#}
{#            <input type="hidden" id="client_id" name="client_id" value="0">#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th scope="row">#}
{#            <label for="names">Nombres</label>#}
{#        </th>#}
{#        <td>#}
{#            <input type="text" class="form-control" name="names" id="names">#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th scope="row">#}
{#            <label for="phone">Telefono</label>#}
{#        </th>#}
{#        <td>#}
{#            <input type="text" class="form-control" name="phone" id="phone">#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th scope="row">#}
{#            <label for="email">E-mail</label>#}
{#        </th>#}
{#        <td>#}
{#            <input type="text" class="form-control" name="email" id="email">#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th scope="row">#}
{#            <label for="address">Direccion</label>#}
{#        </th>#}
{#        <td>#}
{#            <input type="text" class="form-control" name="address" id="address">#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th scope="row">#}
{#            <label for="id_district">Distritos</label>#}
{#        </th>#}
{#        <td>#}
{#            <select id="id_district" name="id_district" class="form-control">#}
{#                <option value="0">SELECCIONAR</option>#}
{#                {% for district in districts %}#}
{#                    <option value="{{ district.id }}">{{ district.description }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th scope="row">#}
{#            <label for="reference">Referencia</label>#}
{#        </th>#}
{#        <td>#}
{#            <input type="text" class="form-control" name="reference" id="reference">#}
{##}
{#        </td>#}
{#    </tr>#}
{#    </tbody>#}
{#</table>#}
