{% load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div id="modal-loader" class="overlay" style="display: none">
            <i class="fas fa-3x fa-sync fa-spin"></i>
        </div>
        <div class="modal-header bg-light">
            <h6 class="modal-title roboto-condensed-regular">ACTUALIZAR CLIENTE:</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <input type="hidden" class="form-control" id="client_id" name="client-id" value="{{ client_obj.id }}">

        <div class="modal-body p-2 roboto-condensed-regular">
            <div class="card">
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="document_type_update">Documento:</label>
                                    <select class="form-control" id="document_type_update" name="document_type_update">
                                        {#                                        <option value="00">Seleccionar</option>#}
                                        {% if client_obj.clienttype_set.last.document_type.id == '01' %}
                                            <option selected value="01">DNI</option>
                                            <option value="06">RUC</option>
                                        {% elif client_obj.clienttype_set.last.document_type.id == '06' %}
                                            <option selected value="06">RUC</option>
                                            <option value="01">DNI</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="document_number_update">Numero de Documento:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="document_number_update"
                                               name="document_number" autocomplete="off"
                                               placeholder=""
                                               value="{{ client_obj.clienttype_set.last.document_number }}">
                                        <div class="input-group-append">
                                            <button class="btn btn-warning btn-sm" id="btn-nro-client-update" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row dni">
                                <div class="col-lg-12">
                                    <label class="mb-1 mt-1 font-weight-light" for="names_update">Nombres / Razon
                                        Social:</label>
                                    <input type="text" class="form-control" id="names_update" autocomplete="off"
                                           name="names" value="{{ client_obj.names }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="mb-1 mt-2 font-weight-light" for="phone">Telefono:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control"
                                               id="phone" name="phone" value="{{ client_obj.phone }}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="email" class="mb-1 mt-2 font-weight-light">Correo:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </div>
                                        <input type="email" class="form-control"
                                               placeholder="" id="email" name="email" value="{{ client_obj.email }}">
                                    </div>
                                </div>
                            </div>
                            {% if client_obj.clientaddress_set.all %}
                                {% for d in client_obj.clientaddress_set.all %}
                                    <div class="row private-update {% if forloop.first %}main{% endif %}">
                                        <div class="col-sm-8 col-md-8 col-lg-8 pr-0">
                                            <label class="mb-1 mt-2 font-weight-light" for="new_address_update">Dirección
                                                del
                                                Cliente:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="fas fa-address-card"></i></span>
                                                </div>
                                                <input type="text" class="form-control new-address"
                                                       id="new_address_update"
                                                       autocomplete="off"
                                                       name="address" value="{{ d.address }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3 pl-1 pr-1">
                                            <label class="mb-1 mt-2 font-weight-light"
                                                   for="id_district">Seleccione distrito:</label>
                                            <select id="id_district" name="id_district"
                                                    class="form-control district-update">
                                                {% for t in districts %}
                                                    {% if t.id == d.district.id %}
                                                        <option selected
                                                                value="{{ t.id }}">{{ t.description }}</option>
                                                    {% else %}
                                                        <option value="{{ t.id }}">{{ t.description }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1 pl-0">
                                            <label class="mb-1 mt-2 font-weight-light"
                                                   for="id-add-new-addressee-update">&nbsp;</label>
                                            {% if forloop.first %}
                                                <button type="button" class="btn btn-outline-success btn-block"
                                                        id="id-add-new-addressee-update">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            {% else %}
                                                <button type="button" class="btn btn-outline-danger btn-block delete-row-address-update">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="row private-update d-none main">
                                    <div class="col-sm-8 col-md-8 col-lg-8 pr-0">
                                        <label class="mb-1 mt-2 font-weight-light" for="new_address_update">Dirección del
                                            Cliente:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="fas fa-address-card"></i></span>
                                            </div>
                                            <input type="text" class="form-control new-address" id="new_address_update"
                                                   autocomplete="off"
                                                   name="address" value="">
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 pl-1 pr-1">
                                        <label class="mb-1 mt-2 font-weight-light"
                                               for="id_district">Seleccione distrito:</label>
                                        <select id="id_district" name="id_district" class="form-control district-update">
                                            <option value="0">Seleccionar</option>
                                            {% for district in districts %}
                                                <option value="{{ district.id }}">{{ district.description }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-1 col-md-1 col-lg-1 pl-0">
                                        <label class="mb-1 mt-2 font-weight-light"
                                               for="id-add-new-addressee-update">&nbsp;</label>
                                        <button type="button" class="btn btn-outline-success btn-block"
                                                id="id-add-new-addressee-update">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer bg-light p-2">
            <button type="button" class="btn btn-secondary font-weight-light" data-dismiss="modal">Cerrar</button>
            &nbsp;
            <button id="btn-update-client" type="button" class="btn btn-primary font-weight-light">Registrar
            </button>
        </div>

        <div class="mr-3 ml-0" style="
                display: none;
                position: fixed;
                top: 8px;
                left: 5px;
                background: #bdd9f5;
                opacity: 0.5;
                width: 100%;
                {#height: 46em;#}
                !important;bottom: 6px;
                padding-right: 65em;
                padding-left: 55em;
                padding-top: 22em;" id="loading">

        </div>

    </div>
</div>

<script type="text/javascript">

    $('#id_district').select2({
        theme: 'bootstrap4',
    });

    sessionStorage.setItem('document', {{client_obj.clienttype_set.last.document_type.id}})

    $("#id-add-new-addressee-update").click(function () {
        const uniqueId = 'id_district_' + new Date().getTime();
        $(".private-update.main").last().after('<div class="row private-update">' +
            '                       <div class="col-sm-8 col-md-8 col-lg-8 pr-0">' +
            '                            <label for="address" class="mb-1 mt-2 font-weight-light">Dirección del Cliente</label>' +
            '                            <div class="input-group">' +
            '                                <div class="input-group-prepend">' +
            '                                   <span class="input-group-text">' + '<i class="fas fa-address-card"></i>' + '</span>' +
            '                                </div>' +
            '                                <input type="text" class="form-control new-address" id="new_address" autocomplete="off"' +
            '                                    name="address">' +
            '                            </div>' +
            '                       </div>' +
            '                       <div class="col-sm-3 col-md-3 col-lg-3 pl-1 pr-1">' +
            '                                <label class="mb-1 mt-2 font-weight-light" for="' + uniqueId + '">Seleccione distrito:</label>' +
            '                             <select id="' + uniqueId + '" name="id_district2" class="form-control district-update">' +
            '                              <option value="0">Seleccionar</option>' +
            '                        {% for district in districts %}'+
                '<option value="{{ district.id }}">{{ district.description }}</option>'+
                '{% endfor %}' +
            '                             </select>' +
            '                            </div>' +
            '                       <div class="col-sm-1 pl-0">' +
            '                             <label class="mb-1 mt-2 font-weight-light" for="id-add-new-addressee">&nbsp;</label>' +
            '                                <button type="button" class="btn btn-outline-danger btn-block delete-row-address-update" >' +
            '                                    <i class="fas fa-minus"></i>' +
            '                                </button>' +
            '                       </div>' +
            '                     </div>');

        $('#' + uniqueId).select2({
            theme: 'bootstrap4',
        });
    });

</script>