<div class="modal-dialog modal-dialog-centered modal-xl" role="document">

    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">KARDEX DEL PRODUCTO:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <div class="modal-body">


            <div class="card mb-4">
                <div class="card-body">

                    <form>
                        {% csrf_token %}


                        <div class="form-group row mx-sm-3">
                            <label for="search" class="col-sm-2 col-form-label">Producto :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="search"
                                       pk="{% if product %}{{ product.id }}{% endif %}"
                                       value="{% if product %}{{ product.name }}{% endif %}" readonly>
                            </div>
                        </div>

                        <div class="form-group row mx-sm-3">
                            <label for="id_subsidiary" class="col-sm-2 col-form-label">Sede :</label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-sm" id="id_subsidiary">
                                    <option value="">--</option>
                                    {% for subsidiary in subsidiaries %}
                                        <option value="{{ subsidiary.id }}">{{ subsidiary.name }}</option>
                                    {% empty %}
                                        Lo sentimos, no hay sedes registradas.
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mx-sm-3">
                            <label for="id_subsidiary_store" class="col-sm-2 col-form-label">Almacen :</label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-sm" id="id_subsidiary_store">
                                    <option value="">--</option>
                                    {% for subsidiary_store in subsidiaries_stores %}
                                        <option value="{{ subsidiary_store.id }}"
                                                data-chained="{{ subsidiary_store.subsidiary.id }}">{{ subsidiary_store.name }}</option>
                                    {% empty %}
                                        Lo sentimos, no hay sedes registradas.
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="form-group row mx-sm-3">
                            <label for="id_date_initial" class="col-sm-2 col-form-label">Rango de Búsqueda:</label>
                            <label for="id_date_initial" class="col-sm-1 col-form-label">Desde:</label>

                            <div class="col-sm-3">
                                <input type="date"
                                       class="form-control"
                                       name="start-date"
                                       id="id_date_initial"
                                       value="{{ date_now }}" required>

                            </div>
                            <label for="id_date_final" class="col-sm-1 col-form-label">Hasta:</label>
                            <div class="col-sm-3">
                                <input type="date"
                                       class="form-control"
                                       name="end-date"
                                       id="id_date_final"
                                       value="{{ date_now }}" required>
                            </div>

                        </div>


                        <div class="form-group row mx-sm-3">
                            <div class="col-sm-12 text-right">
                                <button type="button" id="btn-search" class="btn btn-primary">Buscar</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>


            <div id="kardex-grid-list">{% include "sales/kardex_grid_list.html" %}</div>

        </div><!-- modal-body -->


        <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            &nbsp;
            <!--<button id="save-changes" type="button" class="btn btn-danger">Guardar</button>-->

        </div>


    </div>
</div>

<script type="text/javascript">

    $("#id_subsidiary_store").chained("#id_subsidiary");

    $('#btn-search').on('click', function () {

        let search = $("#search").attr('pk');
        let _start_date = $('#id_date_initial').val();
        let _end_date = $('#id_date_final').val();

        $.ajax({
            url: '/sales/get_list_kardex/',
            dataType: 'json',
            type: 'GET',
            data: {
                'pk': search,
                'subsidiary_store': $("#id_subsidiary_store").val(),
                'start_date': _start_date,
                'end_date': _end_date
            },
            success: function (response) {
                console.log(response);
                if (response.success) {
                    $('#kardex-grid-list').html(response.form);
                }
            },
            fail: function (response) {
                console.log(response);
            }
        });
    });
</script>
