<div class="card-group">
    <div class="card col-sm-9 p-0">
        <div class="card ml-2 mr-2 mt-2" style="border-color: #515151">
            <table class="table-warning table-sm table-bordered" id="id-table-detail-order">
                <thead class="table-light text-uppercase small text-center">
                <tr class="text-white" style="background: #6d6d6d">
                    <th scope="col" class="border-right border-top border-bottom-0 border-left">#</th>
                    <th scope="col" class="border-right border-top border-bottom-0">Producto</th>
                    <th scope="col" class="border-right border-top border-bottom-0">Cantidad</th>
                    <th scope="col" class="border-right border-top border-bottom-0">Unidad</th>
                    <th scope="col" class="border-right border-top border-bottom-0">Precio</th>
                    <th scope="col" class="border-right border-top border-bottom-0">Total</th>
                    <th scope="col" class="border-right border-top border-bottom-0">Eliminar</th>
                </tr>
                </thead>
                <tbody id="sales-details">

                </tbody>
            </table>
        </div>
        <!-- card table-->
        <div class="card m-2" style="border-color: #0b62a4">
            <div class="card-body p-0">
                <div class="card-group">
                    <div class="card col-sm-8 p-0 border-0">
                        <div class="font-weight-normal m-0 p-0" id="id_table_client"></div>
                    </div>
                    <div class="card col-sm-4 p-0 border-0 align-middle">
                        <div class="card-body small pt-2 pb-2 pr-0">
                            <label for="sum-total" class="float-left pt-2 pr-1"><strong> TOTAL : S/. </strong></label>
                            <input type="text" class="form-control form-control-sm sum-total text-right" id="sum-total"
                                   name="sum-total"
                                   placeholder="" style="width: 80px;" readonly>
                        </div>
                    </div>
                </div><!-- card group-->
            </div>
        </div>
    </div>
    <div class="card col-sm-3 p-0">
        <div class="card m-2 ml-1 mr-1"  style="border-color: #0b62a4">
            <div class="card-body text-center display-4 p-2" style="display: flex;flex-direction: column;">
                <div class="card border-0">
                    <button type="button" class="btn btn-danger btn-sm text-uppercase text-center mt-2">
                        Nuevo
                    </button>
                </div>
                <div class="card border-0">
                    <button type="button" id="save-order"
                            class="btn btn-success btn-sm text-uppercase text-center mt-1">Guardar
                    </button>
                </div>
                <div class="card border-0">
                    <button type="button" class="btn btn-success invoice btn-sm small mt-2">FACTURA</button>
                </div>
                <div class="card border-0">
                    <button type="button" class="btn btn-success receipt btn-sm small mt-2">BOLETA</button>
                </div>

{#                <div class="card border-0 align-middle">#}
{#                    <input type="checkbox" id="demo" name="demo" value="0">#}
{#                </div>#}
            </div>

        </div>

    </div>
</div><!-- card table-->
