{% extends 'home.html' %}
{% load static %}
{% load operations %}
{% block title %}
    GLP | Ventas
{% endblock title %}

{% block body %}

    <style type="text/css">
        /* scrollbar_vertical */
        .mCSB_scrollTools {
            background-color: #f3efef;
        }

        .mCSB_draggerRail {
            background-color: #17b7ce !important;
        }

        .mCSB_dragger_bar {
            background-color: #0d76e0 !important;
        }

        /* ---- isotope ---- */

        /* .grid {
          border: 1px solid #333;
        } */

        /* clear fix */
        .grid:after {
            content: '';
            display: block;
            clear: both;
        }

        .dollar {
        {#display: inline-block;#} position: relative;
        }

        .dollar input {
            padding-left: 6px;
        }

        .dollar:before {
            position: absolute;
            content: "S/.";
            left: 4px;
            top: 3px;
        }

        .dollar-table {
        {#display: inline-block;#} position: relative;
        }

        .dollar-table input {
            padding-left: 6px;
        }

        .dollar-table:before {
            position: absolute;
            content: "S/.";
            left: 12px;
            top: 10px;
        }
    </style>

    {% if error != "" %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Inconcebible!</h4>
            <p>{{ error }}</p>
            <hr>
        </div>
    {% endif %}

    {% if distribution %}

        <input type="hidden" class="form-control form-control-sm distribution" id="id_distribution"
               value="{{ distribution }}" readonly="true">
        <input type="hidden" class="form-control form-control-sm type" id="type" value="R" readonly="true">

    {% else %}

        {% if electronic_invoice %}

            <input type="hidden" class="form-control form-control-sm distribution" id="id_distribution" value="0"
                   readonly="true">
            <input type="hidden" class="form-control form-control-sm type" id="type" value="E" readonly="true">
        {% else %}

            <input type="hidden" class="form-control form-control-sm distribution" id="id_distribution" value="0"
                   readonly="true">
            <input type="hidden" class="form-control form-control-sm type" id="type" value="V" readonly="true">

        {% endif %}
    {% endif %}

    <div class="card-group bg-light">
        <div class="card col-sm-6 p-1">
            <div class="col-sm-12 m-0 p-0">
                {% include "sales/sales_grid_tab1.html" with client_dict=client_dict %}
                <div class="col-sm-12 m-0 p-0 mt-1" id="table-distribution-grid">
                    {% if distribution %}
                        {% include "sales/sales_distribution_grid.html" %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card col-sm-6 p-1 bg-light" id="tab-two">
            {% include "sales/sales_grid_tab2.html" %}
        </div>

    </div><!-- card-group -->


    <!-- Modal -->
    <div class="modal fade modal-rate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center" style="background-color: #135d94;">
                    <h5 class="modal-title text-white" id="exampleModalLabel">TARIFARIOS</h5>
                    <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="rates">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary float-left" id="add-all-details"><i
                            class="fas fa-cart-plus"></i>
                        agregar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}


{% block extrajs %}

    <script type="text/javascript">

        let pu;
        let p;
        sessionStorage.setItem('BillType', 'V');
        if ($("#radio2").is(':checked')) {
            $("#id_client").attr('disabled', 'disabled');
            $("#id_client_name").removeAttr('disabled');
            $("#id_client").find('option[value]').removeAttr('selected');
            $("#id_client").find('option[value="0"]').attr('selected', 'selected');
            $("#id_client").trigger('change');
        }
        ;

        {#Sirve para convertir select en autocompletar#}
        $('#id_client').select2({
            theme: 'bootstrap4',
        });
        $('#id_client_name').select2({
            theme: 'bootstrap4',
        });
        $('#id_serie').select2({
            theme: 'bootstrap4',
        });
        {#Selecciona un cliente del autocomplit #}
        $('#id_client, #id_client_name').on('select2:select', function (e) {
            $('#id_table_client').empty()
            let data = e.params.data;
            // console.log(data);
            // console.log(data['id']);

            let search = data['id'];

            $.ajax({
                url: '/sales/get_client/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    $('#client-name').val(response['client_names']);
                    const addressSelect = $('#address_client');
                    addressSelect.empty();
                    addressSelect.append('<option value="0">Seleccionar dirección</option>');
                    let addresses = JSON.parse(response.client_serialized_data_address);
                    if (Array.isArray(addresses)) {
                        addresses.forEach(function (item) {
                            const address = item.fields.address;
                            const pk = item.pk;
                            addressSelect.append(`<option value="${pk}">${address}</option>`);
                        });
                    } else {
                        console.error("El formato de las direcciones no es válido.");
                    }
                    $('#id_table_client').html(response.grid).parent('div').slideDown();
                },
                fail: function (response) {
                    console.log("error");
                }
            });

        });
        {#$("#grid-products").mCustomScrollbar();#}
        /******* ISOTOPE *******/
// quick search regex
        var qsRegex;

        // init Isotope
        var $grid = $('.grid').isotope({
            itemSelector: '.element-item',
            layoutMode: 'fitRows',
            filter: function () {
                return qsRegex ? $(this).text().match(qsRegex) : true;
            }
        });

        // use value of search field to filter
        var $quicksearch = $('.quicksearch').keyup(debounce(function () {
            qsRegex = new RegExp($quicksearch.val(), 'gi');
            $grid.isotope();
        }, 200));

        // debounce so filtering doesn't happen every millisecond
        function debounce(fn, threshold) {
            var timeout;
            threshold = threshold || 100;
            return function debounced() {
                clearTimeout(timeout);
                var args = arguments;
                var _this = this;

                function delayed() {
                    fn.apply(_this, args);
                }

                timeout = setTimeout(delayed, threshold);
            };
        }

        /******* ISOTOPE *******/

// sales_grid_tab1 - verifica si tiene filas
        function hasRowDetails() {
            var _response = false;
            if ($("#sales-details tr").length > 0) {
                _response = true;
            }
            return _response;
        }

        // sales_grid_tab2 - btn Ver Precios
        $(document).on('click', '.card-item-product', function () {
            if (($('#id_client option:selected').val() == '0') && ($('#id_client_name option:selected').val() == '0')) {
                toastr.warning('¡Elija un cliente porfavor!', 'Mensaje!');
                $('#id_client').focus();
                return false;
            }
            let _product_id = $(this).attr('pk');
            sessionStorage.setItem("product_id", _product_id);

            // Comprobar si hay filas en los detalles
            if (hasRowDetails()) {
                // Comprobar si hay filas de un producto especifico

            }
            $('#rates').empty();
            // Cargamos el modal tarifas del producto
            $.ajax({
                url: '/sales/get_rate_product/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {'product': _product_id, 'distribution': $('#id_distribution').val()},
                success: function (response) {
                    $('#rates').html(response.grid);
                },
                fail: function (response) {
                    console.log("error");
                }
            });
        });

        // btn cotizacion
        $(".quote").click(function () {
            console.log(' le cotize parle tu france');

        });

        // sales_grid_tab1 - sumar total de los detalles
        function calculateTotal() {

            var sum = 0;
            $('#sales-details tr td.item-total').each(function () {
                sum = sum + parseFloat($(this).text());
            });

            {#$('#sum-total').val(sum);#}
            $('#sum-total').val(sum.toFixed(2));

        }

        // sales_grid_tab1 - eliminar un detalle segun id producto
        function deleteItem($product, $unit) {
            if ($('#id_distribution').val() != '') {
                distribution_value($product, $unit)
            }
            if ($unit == '9') {
                add_client_advancement($product, $unit, 0)
            }
            $('#sales-details').find("tr[product=" + $product + "][pu=" + $unit + "]").remove();
            calculateTotal();
            counterStrike();
        }

        function add_client_advancement($product, $_unit, $value) {

            if ($value == 0) {
                let _quantity = 0;
                $('table#id-table-detail-order tbody#sales-details tr').each(function () {
                    if ($(this).attr('product') == $product && $(this).attr('pu') == $_unit) {
                        _quantity = parseFloat($(this).find('td.item-quantity').text());
                        $('table.table-client-advancement tbody#details-client-advancement tr').each(function () {
                            if ($product == parseInt($(this).attr('product_final'))) {
                                let value_last = parseFloat($(this).find('td.quantity-client').text());
                                $(this).find('td.quantity-client').text((value_last + _quantity).toFixed(0));
                            }
                        })
                    }
                })
            } else {
                if ($value > 0) {
                    $('table.table-client-advancement tbody#details-client-advancement tr').each(function () {
                        if ($product == parseInt($(this).attr('product_final'))) {
                            let value_last = parseFloat($(this).find('td.quantity-client').text());
                            $(this).find('td.quantity-client').text((value_last + parseFloat($value)).toFixed(0));
                        }
                    })
                }
            }
        }

        function distribution_value(_product, _unit) {
            let param = 0;
            $('table#id-table-detail-order tbody#sales-details tr').each(function () {
                if ($(this).attr('product') === _product && $(this).attr('pu') === _unit) {
                    param = parseFloat($(this).find('td.item-quantity').text());
                    $('#tbl-sales-distribution-grid tbody.sales-distribution-detail tr').each(function () {
                        if (_product === parseInt($(this).attr('product'))) {
                            let value_last = parseFloat($(this).find('td.quantity-surplus').text());
                            $(this).find('td.quantity-surplus').text((value_last + param).toFixed(2));
                        }
                    })
                }
            })
        }

        // reasigna numero de fila a los detalles
        function counterStrike() {
            var index = 1;
            $('#sales-details tr').each(function () {
                $(this).attr('i', index);
                $(this).children('td:first').text(index);
                index++;
            });

        }

        $('#save-order').click(function () {

            createSales();

        });

        function createSales() {

            // Comprobar si hay un cliente seleccionado
            if (($('#id_client option:selected').val() === '0') && ($('#id_client_name option:selected').val() === '0')) {
                toastr.warning('¡Elija un cliente porfavor!', 'Error de Llenado!');
                $('#id_client').focus();
                return false;
            }
            //Comprobar si selecciono serie
            if (($('#type').val() === 'E') && ($('#id_serie').val() === '0')) {
                toastr.warning('¡Favor de completar la serie!', 'Error de Llenado!');
                $('#id_serie').focus();
            }
            // Comprobar si hay filas en los detalles
            if (hasRowDetails() === false) {
                toastr.warning('¡Elija los productos..!', 'Error de Llenado!');
                return false;
            }

            let sales = {
                "Details": [],
                "Client": ($('#id_client').val() != '0') ? $('#id_client').val() : $('#id_client_name').val(),
                "ClientAddress": $('#address_client option:selected').text(),
                "SaleTotal": $('#sum-total').val(),
                "TransactionPaymentType": $('#transaction_payment_type').val(),
                "Distribution": $('#id_distribution').val(),
                "Type": $('#type').val(),
                "Serie": $('#id_serie').val(),
                "BillType": sessionStorage.BillType,
                "Date": $('#date').val(),
                "Demo": ($('#demo').is(':checked')) ? 1 : 0
            };

            // Recorre cada detalle de producto (son 2 arrays) each -> recorre

            $("#sales-details tr").each(function () {
                var detailObj = {
                    "Product": $(this).attr('product'),
                    "Unit": $(this).find("td.item-unit").attr('pu'),
                    "Quantity": $(this).find("td.item-quantity").text(),
                    "Price": $(this).find("td.item-price").text(),
                    "DetailTotal": $(this).find("td.item-total").text(),
                    "Store": $(this).attr("store_p")
                };
                sales.Details.push(detailObj);

            });

            console.log(JSON.stringify(sales));

            $.ajax({
                url: '/sales/create_order_detail/',
                async: true,
                dataType: 'json', // for response
                type: 'GET',
                data: {'sales': JSON.stringify(sales)},
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    console.log(response);
                    if (xhr.status === 200) {
                        {#let parse = JSON.parse(response);#}
                        toastr.success(response.message + response.msg_sunat, '¡Bien hecho!');
                        {#console.log(response.sunat_pdf);#}
                        if (response.sunat_pdf) {
                            window.open(response.sunat_pdf, '_blank');
                        }
                        {#$('#tab-two').html(response.grid);#}
                        clearForm();
                        setTimeout(() => {
                            location.reload();
                        }, 2000);
                        {#window.location.href = "{% url 'sales:sales_list' %}";#}
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    toastr.error(jqXhr.responseJSON.error, '¡ERROR DE SUNAT!');
                }
            });
        }

        function clearForm() {

            $('#client-name').val('');
            $('#id_client').val('0').trigger('change')
            $("#sales-details").empty();
            $('#sum-total').val('');
            $("#code-operation").empty();
            $(".quicksearch").empty();
            $("#id_distribution").val('');
        }

        {#le facture#}

        $(".invoice").click(function () {

            // Comprobar si hay un cliente seleccionado
            if (($('#id_client option:selected').val() == '0') && ($('#id_client_name option:selected').val() == '0')) {
                toastr.warning('¡Elija un cliente porfavor!', 'Error de Llenado!');
                $('#id_client').focus();
                return false;
            }
            if ($('#address_client option:selected').val() === '0') {
                toastr.warning('¡Elija una direccion valida!', 'Error de Llenado!');
                $('#address_client').focus();
                return false;
            }
            //Comprobar si selecciono serie
            if (($('#type').val() == 'E') && ($('#id_serie').val() == '0')) {
                toastr.warning('¡Favor de completar la serie!', 'Error de Llenado!');
                $('#id_serie').focus();
            }
            // Comprobar si hay filas en los detalles
            if (hasRowDetails() == false) {
                toastr.warning('¡Elija los productos..!', 'Error de Llenado!');
                return false;
            }
            if ($("#radio1").is(':checked')) {

                let _document_number = $('#id_client option:selected').attr('document-number');

                if (_document_number.length === 8) {
                    toastr.warning('¡La factura solo se registra con RUC!', 'Error de Llenado!');
                    return false;
                } else {
                    if (_document_number.length !== 11) {
                        toastr.warning('¡La factura solo se registra con RUC!!', 'Error de Llenado!');
                        return false;
                    }
                }
            } else {
                if ($("#radio2").is(':checked')) {
                    let _document_number_name = $('#id_client_name option:selected').attr('document-number');

                    if (_document_number_name.length === 8) {
                        toastr.warning('¡La factura solo se registra con RUC!', 'Error de Llenado!');
                        return false;
                    } else {
                        if (_document_number_name.length !== 11) {
                            toastr.warning('¡La factura solo se registra con RUC!', 'Error de Llenado!');
                            return false;
                        }
                    }
                }
            }

            let r = confirm("¿Desea generar la factura?");
            sessionStorage.setItem('BillType', 'F');
            if (r === true) {

                createSales();
            }
        });
        $(".receipt").click(function () {

            // Comprobar si hay un cliente seleccionado
            if (($('#id_client option:selected').val() == '0') && ($('#id_client_name option:selected').val() == '0')) {
                toastr.warning('¡Elija un cliente porfavor!', 'Error de LLenado!');
                $('#id_client').focus();
                return false;
            }
            //Comprobar si selecciono serie
            if (($('#type').val() == 'E') && ($('#id_serie').val() == '0')) {
                toastr.warning('¡Favor de completar la serie!', 'Error de LLenado!');
                $('#id_serie').focus();
            }
            // Comprobar si hay filas en los detalles
            if (hasRowDetails() == false) {
                toastr.warning('¡Elija los productos..!', 'Error de LLenado!');
                return false;
            }

            if ($("#radio1").is(':checked')) {

                let _document_number = $('#id_client option:selected').attr('document-number');

                if (_document_number.length === 11) {
                    toastr.warning('¡La boleta solo se registra con DNI!', 'Error de Llenado!');
                    return false;
                } else {
                    if (_document_number.length !== 8) {
                        toastr.warning('¡La boleta solo se registra con DNI!!', 'Error de Llenado!');
                        return false;
                    }
                }
            } else {
                if ($("#radio2").is(':checked')) {
                    let _document_number_name = $('#id_client_name option:selected').attr('document-number');

                    if (_document_number_name.length === 11) {
                        toastr.warning('¡La boleta solo se registra con DNI!', 'Error de Llenado!');
                        return false;
                    } else {
                        if (_document_number_name.length !== 8) {
                            toastr.warning('¡La boleta solo se registra con DNI!!', 'Error de Llenado!');
                            return false;
                        }
                    }
                }
            }
            let r = confirm("¿Desea generar la boleta de venta?");
            sessionStorage.setItem('BillType', 'B');
            if (r == true) {
                createSales();
            }
        });


        $("#radio1,#radio2").click(function () {
            if ($("#radio1").is(':checked')) {
                $("#id_client_name").attr('disabled', 'disabled');
                $("#id_client").removeAttr('disabled');
                $("#id_client_name").find('option[value]').removeAttr('selected');
                $("#id_client_name").find('option[value="0"]').attr('selected', 'selected');
                $("#id_client_name").trigger('change');

            } else if ($("#radio2").is(':checked')) {
                $("#id_client").attr('disabled', 'disabled');
                $("#id_client_name").removeAttr('disabled');
                $("#id_client").find('option[value]').removeAttr('selected');
                $("#id_client").find('option[value="0"]').attr('selected', 'selected');
                $("#id_client").trigger('change');
            }
        });

        function Client_Advancement($product, $quantity) {
            let a = false;
            $('table.table-client-advancement tbody#details-client-advancement tr').each(function () {

                if ($product == $(this).attr('product_final')) {
                    let quantity_b = parseFloat($(this).find('td.quantity-client').text());
                    if ((quantity_b - parseFloat($quantity)) >= 0) {
                        $(this).find('td.quantity-client').text((Difference(quantity_b, parseFloat($quantity))).toFixed(0));
                        a = true;
                    } else {
                        a = false;
                    }
                }
            })
            return a;
        }

        function Difference(Valor1, Valor2) {
            let S = parseFloat(Valor1 - Valor2);
            return S;
        };
        $('#tbl-sales-distribution-grid tbody.sales-distribution-detail tr td').each(function () {
            let _str = $(this).text();
            _str = _str.replace(',', '.');
            $(this).text(_str);
        });
        $('#add-all-details').click(function () {

            let _sum_detail_quantity = 0;
            let _sum_product_rate_quantity = 0;
            let _detail_quantity = 0;
            $("#sales-details tr[product=" + sessionStorage.product_id + "]").each(function () {
                _detail_quantity = parseFloat($(this).find('td.item-quantity').text());
                _sum_detail_quantity = _sum_detail_quantity + _detail_quantity;
            })

            $('table tbody#product-rates tr').each(function () {
                let cont_sequence = true;
                let row = 0;
                let _input_quantity = $(this).find("td input.quantity").val();
                let _unit = $(this).attr('unit_id');
                if ($(this).attr('_unit_name') === 'GBC' && _input_quantity != '') {
                    if (Client_Advancement($(this).attr('product_id'), _input_quantity) == false) {
                        toastr.warning("El cliente no cuenta con los fierros necesarios", "Mensaje")
                        return false;
                    }
                }
                if (($('#id_distribution').val() !== 0 || $('#id_distribution').text() !== '') && _input_quantity !== '') {
                    let _product_row = $(this).attr('product_id')
                    $('#tbl-sales-distribution-grid tbody.sales-distribution-detail tr').each(function () {
                        if (parseInt(_product_row) === parseInt($(this).attr('product'))) {
                            row = 1;
                            let value_last = parseFloat($(this).find('td.quantity-surplus').text());
                            if (parseFloat(_input_quantity) > value_last) {
                                toastr.warning('La cantida no puede ecceder a: ' + value_last.toString(), 'Mensaje');
                                add_client_advancement(_product_row, _unit, parseFloat(_input_quantity))
                                cont_sequence = false;
                                {#return false;#}
                            } else {
                                $(this).find('td.quantity-surplus').text((Difference(value_last, parseFloat(_input_quantity))).toFixed(2));
                            }
                            return false;
                        }
                    })
                }
                if (($('#id_distribution').val() != 0 || $('#id_distribution').text() != '') && (row == 0 && _input_quantity != '')) {
                    toastr.warning("El producto no tiene salidas en el vehiculo", "Mensaje")
                    return false;
                }
                if (($('#id_distribution').val() != 0 || $('#id_distribution').text() != '') && (cont_sequence == false) && _input_quantity != '') {
                    return false;
                }
                let _input_price = $(this).find("td input.price").val();

                if (_input_quantity !== '' && _input_price !== '') {
                    let _quantity = parseFloat(_input_quantity);
                    let _product = $(this).attr('product_id');
                    let _unit = $(this).attr('unit_id');
                    let _stock = parseFloat($('#store-rates').find("tr.selected-item td.current-stock").text());
                    _sum_product_rate_quantity = _sum_product_rate_quantity + _quantity;
                    {% if distribution is None and electronic_invoice is None %}
                        if (_quantity > _stock || _sum_product_rate_quantity > _stock ||
                            (_sum_detail_quantity > 0 && _sum_detail_quantity + _sum_product_rate_quantity > _stock)) {
                            toastr.warning('Stock Insuficiente', '¡MENSAJE!');
                            $('.modal-rate').modal('hide');
                            return false;
                        }
                    {% endif %}
                    if ($("#sales-details tr[product=" + _product + "][pu=" + _unit + "]").length) {
                        let $msg = 'EL PRODUCTO CON ESTE TIPO DE UNIDAD YA SE ENCUENTRA EN EL REGISTRO.';
                        $('#rates').html($msg);
                        $('.modal-rate').modal('hide');
                        toastr.warning($msg, '¡MENSAJE!');
                        return false;
                    }
                    addDetail($(this));
                }

            });
            $('.modal-rate').modal('hide');

        });

        function addDetail($tr) {

            let _unit_id = $tr.attr('unit_id');
            let _product_id = $tr.attr('product_id');
            let _product_name = $tr.attr('product_name');
            let _quantity = parseFloat($tr.find("td input.quantity").val());
            let _price = parseFloat($tr.find("td input.price").val());
            let _total = _quantity * _price;
            let _unit = $tr.find("td.unit-name").text();
            let _product_store = $('#store-rates').find("tr.selected-item").attr('ps');
            $('#sales-details').append(
                '<tr product="' + _product_id + '" store_p="' + _product_store + '" pu="' + _unit_id + '" class="text-uppercase small text-center">' +
                '<td class="align-middle">' + '</td>' +
                '<td class="align-middle">' + _product_name + '</td>' +
                '<td class="align-middle item-quantity">' + _quantity + '</td>' +
                '<td class="align-middle item-unit" pu="' + _unit_id + '">' + _unit + '</td>' +
                '<td class="align-middle item-price">' + _price.toFixed(2) + '</td>' +
                '<td class="align-middle item-total">' + _total.toFixed(2) + '</td>' +
                '<td>' + '<button type="button" onclick="deleteItem(' + _product_id + ',' + _unit_id + ')" class="btn btn-danger btn-sm">' +
                '<i class="fa fa-trash"></i></button>' + '</td>' +
                '</tr>'
            );
            calculateTotal();
            counterStrike();
        }

        if ($("#type").length) {
            if ($("#type").val() == 'E') {
                $("#save-order").hide()
            } else {
                $(".quote").hide();
                $(".invoice").hide();
                $(".receipt").hide();
                $(".series").hide()
                $("#demo").hide()
            }
        }

        function printPdf($url) {
            {#myWindow = window.open($url);#}
            {#myWindow.close;  //optional, to close the new window as soon as it opens#}
            //this ensures user doesn't have to close the pop-up manually
            let link = document.createElement('a');
            link.href = $url;
            link.download = 'file.pdf';
            link.dispatchEvent(new MouseEvent('click'));
        }
    </script>

{% endblock extrajs %}
