{% extends 'home.html' %}

{% block title %}
    Reporte | Reparto GLP
{% endblock title %}

{% block body %}

    <!-- Content -->
    <div class="container-fluid">
        <div class="card-header text-left mt-2 mb-1 p-1">
            <div class="form-inline mt-0 mb-0 p-0">
                <table>
                    <tr>
                        <td class="align-middle">Placa</td>
                        <td>
                            <select class="form-control" id="id_truck" name="truck" required>
                                <option disabled selected value=""> Seleccione</option>
                                {% for t in truck_set %}
                                    {% if truck_set.id == t.id %}
                                        <option value="{{ t.id }}">{{ t.license_plate }}</option>
                                    {% else %}
                                        <option value="{{ t.id }}">{{ t.license_plate }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="pl-2 pr-2">Conductor</td>
                        <td class="pl-2 pr-2" style="width: 300px">
                            <input type="text" style="width: 300px" class="form-control" id="id_pilot" name="pilot"
                                   readonly placeholder="Conductor">
                        </td>
                        <td class="pl-2 pr-2">Fecha inicial</td>
                        <td class="pl-2 pr-2"><input type="date" class="form-control" id="id_date_initial"

                                                     value="{{ date_now }}" required>
                        </td>
                        <td class="pl-2 pr-2">Fecha final</td>
                        <td class="pl-2 pr-2"><input type="date" class="form-control" id="id_date_final"

                                                     value="{{ date_now }}" required>
                        </td>
                        <td class="pl-2 pr-2">
                            <button type="button" id="id_btn_show"
                                    class="btn btn-primary btn-block pb-2"> Mostrar
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="table-responsive" id="table-report"></div>
        <div class="container text-center pt-5" id="loading" style="display: none">
                    <div class="row m-5">
                        <div class="col-md-12 m-5">
                            <div class="loader">
                                <div class="loader-inner">
                                    <div class="loading one"></div>
                                </div>
                                <div class="loader-inner">
                                    <div class="loading two"></div>
                                </div>
                                <div class="loader-inner">
                                    <div class="loading three"></div>
                                </div>
                                <div class="loader-inner">
                                    <div class="loading four"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>

{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">
        $('#id_truck').select2({
            theme: 'bootstrap4',
        });
        $('#id_truck').change(function () {
            //recupera el id_dela opcion seleccionada
            let _search = $(this).val();
            //vacia el combo-borra opciones
            $('#id_pilot').empty();

            $.ajax({
                url: '/comercial/get_distribution_mobil/',
                async: true,
                dataType: 'json',
                type: 'GET',
                //mando  id d la placa del combo
                data: {'_value': _search},
                // si va bien retorna la data
                 success: function (response) {
                    $('#id_pilot').val(response['full_name']);
                    if (response['full_name'] == '')
                    {
                        toastr.warning('El vehiculo no tiene grupo', '¡Mensaje!');
                    }
                    },
                 error: function (response) {
                    $('#id_pilot').val(response[''])
                    toastr.error('Problemas en la selección', '¡Mensaje!');
                 }
            });
        })
        $('#id_btn_show').click(function () {
                if ($('#id_pilot').val() == '')
                {
                    toastr.warning("Seleccione una placa valida. ", '¡Mensaje!');
                    return false;
                }
                if ($('#id_truck').val() == 0)
                {
                    toastr.warning("Seleccione una placa. ", '¡Mensaje!');
                    return false;
                }
                if ($('#id_date_initial').val() == '') {
                    toastr.warning("Seleccione fecha inicial. ", '¡Mensaje!');
                    return false;
                }
                if ($('#id_date_final').val() == '') {
                    toastr.warning("Seleccione fecha final. ", '¡Mensaje!');
                    return false;
                }
                $('#loading').show();


                $('#table-report').empty();
                $.ajax({
                    url: '/comercial/get_report_sales_distribution/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    data: {
                        'truck_id': $('#id_truck').val(),
                        'date_initial': $('#id_date_initial').val(),
                        'date_final': $('#id_date_final').val(),
                    },
                    success: function (response) {

                        $('#table-report').html(response['grid']);
                        $('#loading').hide();
                    },
                    error: function (jqXhr, textStatus, xhr) {
                        toastr.error(jqXhr.responseJSON.error, '¡Error!');
                        $('#loading').hide();
                    }
                });
        });
    </script>
{% endblock extrajs %}
