{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Login</title>


	<!-- Normalize V8.0.1 -->
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">

	<!-- Bootstrap V4.3 -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<!-- Bootstrap Material Design V4.0 -->
	<!-- <link rel="stylesheet" href="{% static 'css/bootstrap-material-design.min.css' %}"> -->

	<!-- Font Awesome V5.9.0 -->
	<link rel="stylesheet" href="{% static 'css/all.css' %}">

	<!-- Sweet Alerts V8.13.0 CSS file -->
	<!-- <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}"> -->

	<!-- Sweet Alert V8.13.0 JS file -->
	<!-- <script src="{% static 'js/sweetalert2.min.js' %}" ></script> -->

	<!-- jQuery Custom Content Scroller V3.1.5 -->
	<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.css' %}">

	<!-- General Styles -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

	<div class="login-container bg-info text-white">
		<div class="login-content bg-secondary">
			<p class="text-center">
				<i class="fas fa-user-circle fa-5x"></i>
			</p>
			<p class="text-center">
				Ingrese con su cuenta
			</p>
			<form method="post">
				{% csrf_token %}

{% if form.errors %}


<div class="form-group">
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}

						<div class="alert alert-light alert-dismissible fade show" role="alert">
							<strong>Advertencia!</strong> {{ error }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

        {% endfor %}
    {% endif %}
</div>

{% endif %}

				<div class="form-group">
					<label for="username" class="bmd-label-floating"><i class="fas fa-user-secret"></i> &nbsp; User</label>
					{{ form.username }}
				</div>




				<div class="form-group">
					<label for="password" class="bmd-label-floating"><i class="fas fa-key"></i> &nbsp; Password</label>
					{{ form.password }}
				</div>





				<button type="submit" class="btn-login text-center bg-info">LOG IN</button>

			</form>
		</div>
	</div>


	<!--=============================================
	=            Include JavaScript files           =
	==============================================-->
	<!-- jQuery V3.4.1 -->
	<script src="{% static 'js/jquery-3.4.1.min.js' %}" ></script>

	<!-- popper -->
	<script src="{% static 'js/popper.min.js' %}" ></script>

	<!-- Bootstrap V4.3 -->
	<script src="{% static 'js/bootstrap.min.js' %}" ></script>

	<!-- jQuery Custom Content Scroller V3.1.5 -->
	<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}" ></script>

	<!-- Bootstrap Material Design V4.0 -->
	<!-- <script src="{% static 'js/bootstrap-material-design.min.js' %}" ></script> -->
	<!-- <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script> -->

{#	<script src="{% static 'js/main.js' %}" ></script>#}
</body>
</html>
