@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500&display=swap);@import url(https://indestructibletype.com/fonts/Jost.css);

@font-face {
  font-family: 'roboto_medium_regular';
  src: url('../webfonts/roboto-medium-webfont.woff2') format('woff2'),
  url('../webfonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto_condensed_light';
  src: url('../webfonts/robotocondensed-light-webfont.woff2') format('woff2'),
  url('../webfonts/robotocondensed-light-webfont.woff') format('woff'),
  url('../webfonts/robotocondensed-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensed_regular';
  src: url('../webfonts/robotocondensed-regular-webfont.woff2') format('woff2'),
  url('../webfonts/robotocondensed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body,html{
  /* font-family: 'roboto_condensed_light'; */
  width: 100vw;
  height: 100vh;
  /* background-color: #0072c6; */
  color: #3e4676;
  font-family: Hind Vadodara,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
  font-size: .9375rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: Jost,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

.full-box{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.form-neon{
  border: 1px solid rgba(250, 30, 78, .3);
  padding: 15px;
  border-radius: 3px;
}

/*----------  Page headers styles  ----------*/
.page-header{
  padding: 30px 20px 60px 20px;
}
.page-header > :nth-child(1){
  padding-bottom: 7px;
}
.page-header > :nth-child(2){
  font-size: 18px;
}

/*----------  Page nav tabs  ----------*/
.page-nav-tabs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.page-nav-tabs li,
.page-nav-tabs li a{
  height: 40px;
  line-height: 40px;
}
.page-nav-tabs li{
  margin: 5px;
}
.page-nav-tabs li a{
  color: #f5f5f5;
  font-size: 20px;
  min-width: 200px;
  width: auto;
  display: block;
  text-align: center;
  user-select: none;
  transition: all .2s ease-in-out;
}
.page-nav-tabs li a.active{
  color: #f5f5f5;
  cursor: none;
  pointer-events: none;
}
.page-nav-tabs li a:hover{
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(to right, transparent, rgba(250, 30, 78, .1) 50%, transparent);
}

/*----------  Edit bootstrap styles  ----------*/



/* dataTable */





















/*----------  Text Styles  ----------*/
.roboto-medium{
  font-family: 'roboto_medium_regular';
}
.roboto-condensed-light{
  font-family: 'roboto_condensed_light';
}
.roboto-condensed-regular{
  font-family: 'roboto_condensed_regular';
}

/*----------  login Styles  ----------*/
.login-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b579a;
}
.login-content{
  width: 95%;
  max-width: 320px;
  height: auto;
  border: 1px solid rgba(0,123,255,.5);
  background-color: rgba(255,255,255,0.5);
  border-radius: 12px;
  padding: 15px;

}
.btn-login{
  width: 90%;
  padding: 10px 0;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 30px;
  background-color: #28a745;
  color: #f5f5f5;
  border: 1px solid rgba(0,123,255,.25);
  transition: all .2s ease-out;
}
.btn-login:hover{
  background-color: #20c997;
  border: 1px solid #20c997;
  text-decoration: none;
  color: #fff;
}
.btn-login:active,
.btn-login:focus{
  outline: none;
}

/*----------  Page layout Styles  ----------*/
.main-container{
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.page-content,
.nav-lateral{
  height: 100%;
  overflow: hidden;
}
.page-content{
  position: relative;
  padding-left: 300px;
}
/*  Nav Lateral */
.nav-lateral{
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all .2s ease-in-out;
}
.nav-lateral-bg{ display: none; }
.nav-lateral-content{
  max-width: 300px;
  height: 100%;
  /* background-color: #2b579a; */

  background: #ffffff;



}
/* .nav-lateral-bar{
height: 3px;
background-color: #e9ecef;
} */
.nav-lateral-avatar{
  padding: 40px 0;
}
.nav-lateral-avatar i{
  display: none;
}
.nav-lateral-avatar img{
  width: 50%;
  margin: 0 auto;
  display: block;
  border: 3px solid #e9ecef;
  border-radius: 100%;
}
.nav-lateral-avatar figcaption{
  margin-top: 20px;
}
.nav-lateral-divider{
  width: 85%;
  height: 0;
  border-top: 1px solid rgba(250, 30, 78, .2);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  margin: 0 auto;
  display: block;
}
.nav-lateral-menu{
  height: auto;
}
.nav-lateral-menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-lateral-menu ul li.sidebar-header{
  background: transparent;
  color: #adb5bd;
  padding: .375rem 1.5rem;
  font-size: .75rem;
  font-weight: 500;
  text-transform: none;
}

.nav-lateral-menu ul li{
  width: 100%;
  height: auto;
}
.nav-lateral-menu ul li a{
  display: block;
  width: 100%;
  /* height: 45px; */
  /* line-height: 45px; */
  /* text-decoration: none; */
  /* color: #212529; */

  /* font-size: 15px; */
  box-sizing: border-box;
  padding-left: 20px;
  /* transition: all .2s ease-in-out; */



  padding: .65rem .75rem;
  margin: 0 .5rem;
  color: #6c757d;
  font-weight: 400;
  background: transparent;
  border-radius: .2rem;
  /* -webkit-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out; */

  /* -webkit-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out; */

  position: relative;
  text-decoration: none;
  cursor: pointer;

}



.nav-lateral-menu ul li i{
  color: #153d77;
}




.nav-lateral-menu ul li a.active{
  color: #212529;
  background: #e9ecef;
}
.nav-lateral-menu ul li a:hover{
  color: #212529;
  background: #fff;
}


.nav-lateral-menu ul li ul{
  display: none;
  /* border: 1px solid #007bff;
  background-color: #0072c6; */

  /* -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform; */

}
.show-nav-lateral-submenu{
  /* display: block !important; */
}

.nav-lateral-menu ul li ul li a{
  padding: .35rem 1.5rem .35rem 2.75rem;
  margin: 0 .5rem;
  color: #ccc;
  background: #fff;
  font-weight: 400;
  font-size: 90%;

}
.nav-lateral-menu .fa-chevron-right,
.nav-lateral-menu .fa-chevron-down{
  float: right;
  /* height: 45px; */
  /* line-height: 45px; */
  margin-right: 7px;
  padding: 2.5px;
  /* transition: all .2s ease-in-out; */
  /* transition: background .1s ease-in-out; */

  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

}

/*  Page content */
.navbar-info{
  height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: right;
  padding-right: 10px;
}


.navbar-info a{
  color: #ccc;
  /* height: 50px; */
  /* min-width: 40px; */
  text-align: center;
  /* line-height: 50px; */
  display: inline-block;
  transition: all .2s ease-out;
  user-select: none;
  cursor: pointer;
  /* width: 26px; */
  /* height: 26px; */
  margin-left: .5rem;
  padding: 10px 10px 10px 10px;
  /* font-size: 90%;*/
}

.navbar-info a:hover{
  color: #343a40;
  /* background-image: radial-gradient(circle,#ccc, transparent 45%); */
  /* font-size: 94%;*/
}

.hamburger, .hamburger:after, .hamburger:before {
  cursor: pointer;

  /* height: 30px; */
  /* width: 30px; */
  /* background: rgba(0,0,0,.75); */
  /* display: block; */
  /* content: ""; */
  -webkit-transition: background .1s ease-in-out,color .1s ease-in-out;
  transition: background .1s ease-in-out,color .1s ease-in-out;
}


.navbar-info a:active,
.navbar-info a:focus{
  outline: none;
}



.header{position:relative;margin-bottom:3rem}
.header-title{font-size:1.64062rem;color:#212529}
.header-subtitle{font-size:.9375rem;color:#212529}

.content {
  margin-top: 3rem;
  padding: 0 .5rem;
}


/* breadcrumb */

.breadcrumb{display:-webkit-box;display:flex;flex-wrap:wrap;padding:0;margin-bottom:1rem;list-style:none;background-color:transparent;border-radius:.2rem}
.breadcrumb-item+.breadcrumb-item{padding-left:.5rem}
.breadcrumb-item+.breadcrumb-item:before{display:inline-block;padding-right:.5rem;color:#ced4da;content:"/"}
.breadcrumb-item+.breadcrumb-item:hover:before{text-decoration:underline;text-decoration:none}



/* pagination */



/* botones */



/*----------  Home Styles  ----------*/


/* Responsive Square with CSS */
.square {
  width: 100px;
  height: 100px;
  display: block;
  padding: 40px 20px;
  color: #fff;
}






.tile-container{
  text-align: center;
  padding: 20px 25px;
}
.tile{
  height: 200px;
  width: 200px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  user-select: none;
  transition: all .2s ease-in-out;
}
.tile:hover{
  text-decoration: none;
  color: #f5f5f5;
  border-color: #4caf50;
}
.tile:focus,
.tile:active{
  outline: none;
}
.tile-tittle{
  margin: 0;
  width: 100%;
  padding: 0;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  text-transform: uppercase;
  border-bottom: 1px solid #f5f5f5;
  transition: all .2s ease-in-out;
  font-family: 'roboto_medium_regular';
}
.tile:hover .tile-tittle{
  color: #f5f5f5;
  border-color: #4caf50;
  background-color: #4caf50;
}
.tile-icon{
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  padding-top: 22px;
}
.tile-icon > i{
  font-size: 80px;
}
.tile-icon > p{
  font-family: 'roboto_medium_regular';
  height: 35px;
  line-height: 35px;
}


/*----------  Card  ----------*/

/* .card {
background-color: #009688;
color: #009688;
} */

/*----------  Breakpoints  ----------*/
@media (max-width: 767px){
  .nav-lateral{
    width: 100%;
    overflow: hidden;
    display: none;
  }
  .nav-lateral.active{
    display: block;
    z-index: 9999;
  }
  .nav-lateral-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(250, 30, 78, .12);
    position: relative;
    display: block;
    z-index: 2;
  }
  .nav-lateral-content{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    transform: translateX(-400px);
    transition: all .3s ease-in-out;
  }
  .nav-lateral.active .nav-lateral-content{
    transform: translateX(0);
  }
  .nav-lateral-avatar i{
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 0;
    text-align: center;
    display: block;
    transition: all .2s ease-out;
  }
  .nav-lateral-avatar i:hover{
    color: #fff;
    background-image: radial-gradient(circle,rgba(250, 30, 78, .1), transparent 80%);
  }
  .page-content{
    padding-left: 0;
  }
}


/*  Bootstrap breakpoints */
@media (min-width: 576px){

}

@media (min-width: 768px){
  .nav-lateral.active{
    transform: translateX(-400px);
  }
  .page-content.active{
    padding-left: 0;
  }
}

@media (min-width: 992px){

}

@media (min-width: 1200px){

}

/*----------  Keyframes  ----------*/
